{
    "$schema": "http://json.schemastore.org/package",
    "name": "@kayahr/${projectName}",
    "version": "0.0.1",
    "type": "module",
    "description": "",
    "keywords": [],
    "license": "MIT",
    "author": "Klaus Reimer <k@ailis.de>",
    "repository": "github:kayahr/${projectName}",
    "homepage": "https://github.com/kayahr/${projectName}",
    "bugs": "https://github.com/kayahr/${projectName}/issues",
    "funding": "https://github.com/kayahr/datastream?sponsor=1",
    "publishConfig": {
        "access": "public"
    },
    "files": [
        "lib/main/",
        "src/main/"
    ],
    "exports": "./lib/main/index.js",
    "scripts": {
        "clean": "rimraf lib",
        "build": "run-s build:*",
        "build:compile": "tsc",
        "test": "run-s test:*",
        "test:unit": "vitest run",
        "test:lint": "eslint --max-warnings 0",
        "test:apidoc": "typedoc --emit none",
        "test:spell": "cspell --no-progress --no-summary",
        "apidoc": "typedoc",
        "install:browser": "playwright install chromium",
        "prepare": "run-s install:browser clean build"
    },
    "devDependencies": {
        "@kayahr/eslint-config": "*",
        "@types/node": "*",
        "@vitest/browser": "*",
        "@vitest/coverage-v8": "*",
        "cspell": "*",
        "npm-run-all": "*",
        "playwright": "*",
        "rimraf": "*",
        "source-map-support": "*",
        "typedoc": "*",
        "typescript": "*",
        "vitest": "*"
    }
}
