{
    "$schema": "http://json.schemastore.org/package",
    "name": "@kayahr/${projectName}",
    "version": "0.0.1",
    "type": "module",
    "description": "",
    "keywords": [],
    "license": "MIT",
    "author": "Klaus Reimer <k@ailis.de>",
    "repository": {
        "type": "git",
        "url": "git+https://github.com/kayahr/${projectName}.git"
    },
    "homepage": "https://github.com/kayahr/${projectName}",
    "bugs": "https://github.com/kayahr/${projectName}/issues",
    "funding": "https://github.com/kayahr/${projectName}?sponsor=1",
    "publishConfig": {
        "access": "public"
    },
    "files": [
        "lib/main/",
        "src/main/"
    ],
    "exports": "./lib/main/index.js",
    "scripts": {
        "clean": "rm -rf lib",
        "build": "run build:*",
        "build:compile": "tsc",
        "test": "run test:*",
        "test:unit": "ntest",
        "test:spell": "cspell --no-progress --no-summary",
        "test:lint": "oxlint --type-aware --deny-warnings",
        "test:apidoc": "typedoc --emit none",
        "apidoc": "typedoc",
        "start": "node lib/main/create-project.js",
        "prepare": "run clean build"
    },
    "devDependencies": {
        "@kayahr/assert": "*",
        "@kayahr/cspell": "*",
        "@kayahr/npm-utils": "*",
        "@kayahr/ntest": "*",
        "@kayahr/oxlint-config": "*",
        "@kayahr/typedoc": "*",
        "@types/node": "*",
        "typescript": "*"
    }
}
