# ${projectName}

[GitHub] | [NPM] | [API Doc]

TODO

[API Doc]: https://kayahr.github.io/${projectName}/
[GitHub]: https://github.com/kayahr/${projectName}
[NPM]: https://www.npmjs.com/package/@kayahr/${projectName}
