/*
 * Copyright (C) ${year} Klaus Reimer <k@ailis.de>
 * See LICENSE.md for licensing information
 */

import { describe, it } from "node:test";
import { assertEquals } from "@kayahr/assert";
import * as exports from "../main/index.ts";
import { type SumArgs, sum } from "../main/sum.ts";

describe("index", () => {
    it("exports relevant types and functions and nothing more", () => {
        // Check classes and enums
        assertEquals({ ...exports }, {
            sum
        });

        // Interfaces and types can only be checked by TypeScript
        ((): SumArgs => (({} as exports.SumArgs)))();
    });
});
