/*
 * Copyright (C) ${year} Klaus Reimer <k@ailis.de>
 * See LICENSE.md for licensing information
 */

import { describe, it } from "node:test";
import { assertSame } from "@kayahr/assert";
import { sum } from "../main/sum.ts";

describe("sum", () => {
    it("sums two numbers", () => {
        assertSame(sum(1, 2), 3);
    });
    it("sums more numbers", () => {
        assertSame(sum(1, 2, 3), 6);
        assertSame(sum(1, 2, 3, 4), 10);
    });
});
