/*
 * Copyright (C) ${year} Klaus Reimer <k@ailis.de>
 * See LICENSE.md for licensing information
 */

import { describe, expect, it } from "vitest";

import { sum } from "../main/sum.js";

describe("sum", () => {
    it("sums two numbers", () => {
        expect(sum(1, 2)).toBe(3);
    });
    it("sums more numbers", () => {
        expect(sum(1, 2, 3)).toBe(6);
        expect(sum(1, 2, 3, 4)).toBe(10);
    });
});
